<a href="https://colab.research.google.com/github/Reddysaikowshik/PYTHON-FOR-DATA-SCIENCE/blob/main/Assignment_03_ipynb_(11th_Aug).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    "Order ID": [101, 102, 103, 104, 105, 106],
    "Product": ["Laptop", "Mouse", "Keyboard", "Laptop", "Monitor", "Mouse"],
    "Quantity": [2, 5, 3, 1, 2, 10],
    "Price": [55000, 500, 1500, 56000, 12000, 450]
}

df = pd.DataFrame(data)
print("Initial DataFrame:")
print(df)

df["Total Sale"] = df["Quantity"] * df["Price"]
print("\nDataFrame with Total Sale column:")
print(df)

high_sales = df[df["Total Sale"] > 1000]
print("\nOrders with Total Sale > 1000:")
print(high_sales)

most_sold = df.groupby("Product")["Quantity"].sum().sort_values(ascending=False)
print("\nMost Sold Product(s):")
print(most_sold)

def calc_discount(amount):
    if amount > 50000:
        return amount * 0.10
    elif amount > 10000:
        return amount * 0.05
    else:
        return 0

df["Discount"] = df["Total Sale"].apply(calc_discount)
print("\nDataFrame with Discount column:")
print(df)

df.to_excel("sales_summary.xlsx", index=False)
print("\n✅ Sales summary exported to 'sales_summary.xlsx'")

Initial DataFrame:
   Order ID   Product  Quantity  Price
0       101    Laptop         2  55000
1       102     Mouse         5    500
2       103  Keyboard         3   1500
3       104    Laptop         1  56000
4       105   Monitor         2  12000
5       106     Mouse        10    450

DataFrame with Total Sale column:
   Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         2  55000      110000
1       102     Mouse         5    500        2500
2       103  Keyboard         3   1500        4500
3       104    Laptop         1  56000       56000
4       105   Monitor         2  12000       24000
5       106     Mouse        10    450        4500

Orders with Total Sale > 1000:
   Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         2  55000      110000
1       102     Mouse         5    500        2500
2       103  Keyboard         3   1500        4500
3       104    Laptop         1  56000       56000
4       105   Monitor         2  12000       24000
5       106     Mouse        10    450        4500

Most Sold Product(s):
Product
Mouse       15
Keyboard     3
Laptop       3
Monitor      2
Name: Quantity, dtype: int64

DataFrame with Discount column:
   Order ID   Product  Quantity  Price  Total Sale  Discount
0       101    Laptop         2  55000      110000   11000.0
1       102     Mouse         5    500        2500       0.0
2       103  Keyboard         3   1500        4500       0.0
3       104    Laptop         1  56000       56000    5600.0
4       105   Monitor         2  12000       24000    1200.0
5       106     Mouse        10    450        4500       0.0

✅ Sales summary exported to 'sales_summary.xlsx'