<a href="https://colab.research.google.com/github/Reddysaikowshik/PYTHON-FOR-DATA-SCIENCE/blob/main/Assignment_07_(01th_Sep).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("student_scores.csv")

In [14]:
df.fillna(df.mean(numeric_only=True), inplace=True)
high_achievers = df[(df["Math"] > 75) & (df["Science"] > 75) & (df["English"] > 75)]

In [15]:
print(high_achievers)

      Name  Math  Science  English
0    Alice    80       78       85
2  Charlie    90       85       92
4      Eve    88       92       95